body{
    box-sizing: border-box;
    background-color: darkslategrey;
    width: 90%;
    height: 100%;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#garage {
    background-image: url(../images/garage.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    margin: 5%;
    width: 100%;
    height: 42em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "nav nav . ."
        "logo . . ."
        ". . . ."
        ". . . ."
        "info info info farve";
    }

#bilen {
    background-image: url(../images/bilen.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position:right;
}

nav {
    grid-area: nav;
    display: flex; 
    justify-content: space-around;
    align-content: flex-end;
}

nav div {
    background-image:url(../images/bil-knap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    
}

nav img {
    width: 100%;  
    height: auto;
}

.pil {
    width: 20%;
    margin: auto;
}

#logo {
    grid-area: logo;
}

#info {
    grid-area: info;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.bil-video {
    background-image:url(../images/bil-knap.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.bil-video img {
    width: 75%;
}

#farve {
    grid-area: farve;
}
#farve img {
    width: 100%;
}
