body {
    box-sizing: border-box;
    background-color: darkslategrey;
    width: 90%;
    height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#garage {
    background-image: url(../images/garage.jpg);
    background-position: center;
    background-size: cover;
}

#skov {
    background-image: url(../images/elverbaggrund.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    margin: 5%;
    width: 100%;
    height: 42em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav . ." "logo . . ." ". . . ." ". . . ." "info info info farve";
}

#bilen {
    background-image: url(../images/bilen.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}

nav div {
    background-image: url(../images/bil-knap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
}

.elver-knap {
    background-image: url(../images/lillaboks.png);
}

nav img {
    width: 75%;
    height: auto;
    margin: 15%;
}

.elver-knap img {
    width: 40%;
    margin: 25% 30%;
}

.pil {
    width: 25%;
    margin: auto auto auto -35px;
    padding: 5%;
    z-index: -1;
}

#logo {
    grid-area: logo;
}

#logo img {
    width: 135%
}

#info {
    grid-area: info;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-weight: bolder;
    color: white;
}

.video {
    background-image: url(../images/bil-knap.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
}

.elver {
    background-image: url(../images/lillaboks.png);
    width: 20%;
}

.video img {
    width: 75%;
    margin: -5% auto 15% auto
}

.elver img {
    width: 40%;
}

#farve {
    grid-area: farve;
}

#farve img {
    width: 100%;
    margin: 10% 2%;
}
